BOT_TOKEN=8797571672:AAGQ2u_C-PWImETr_3YuB5ft0FUkZL3-M9g
ADMIN_LOGIN=RavenThief
ADMIN_PASSWORD=gfgfxrf12
JWT_SECRET_KEY=super_secret_jwt_key_change_me_in_production_123456
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres_password
POSTGRES_DB=moderator_db
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
REDIS_HOST=redis
REDIS_PORT=6379
DATABASE_URL=postgresql+asyncpg://postgres:postgres_password@postgres:5432/moderator_db
REDIS_URL=redis://redis:6379/0
BACKEND_URL=http://backend:8000
FRONTEND_URL=http://localhost:3000
